<h2>¡Bienvenido!</h2>
<p>El routing en Angular se utiliza para navegar entre diferentes vistas o páginas dentro de una aplicación web. Permite que los usuarios puedan interactuar con diferentes partes de la aplicación de manera fluida.</p>
<p>La comunicación padre-hijo en Angular se utiliza para pasar datos y eventos entre un componente padre y uno o varios componentes hijos. Esto permite crear relaciones jerárquicas entre los componentes y compartir información de manera eficiente.</p>
<p>A continuación vamos a poner unos ejemplitos chulos para que lo veas</p>
<button (click)="iniciar()">Ir a la página principal</button>
